<div class="teaching">
  {% if site.teaching != blank %}
    {% assign teaching_size = site.teaching | size %}
    <div
      class="table-responsive"
      {% if include.limit and site.teaching_section.scrollable and teaching_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign teaching = site.teaching | reverse %}
        {% if include.limit and site.teaching_section.limit %}
          {% assign teaching_limit = site.teaching_section.limit %}
        {% else %}
          {% assign teaching_limit = teaching_size %}
        {% endif %}
        {% for item in teaching limit: teaching_limit %}
          <tr>
            <th scope="row" style="width: 20%">
              {% if item.semester %}
                {{ item.semester }}
              {% else %}
                {{ item.date | date: '%b %Y' }}
              {% endif %}
            </th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="teaching-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No teaching records yet...</p>
  {% endif %}
</div>
